:root {
	--primary-color: #fff; 
	--border-color: #ededed;
	--background-color: #111111;
	--header-color: #ededed; 
	--text-color: #ededed;
	--link-color: #f29e50;
}

html {
	scrollbar-width: thin;
}

body {
	font-family: Arial, sans-serif;
    font-size: small;
    background-color: #575757;
    color: #333;
    margin: 0; 
    padding: 0;
    height: 100vh;
	width: 100vw;
	overflow: hidden;
}

p { padding: 0 0; margin: 0 0; }
a:link { color: var(--link-color); }
a:visited { color: var(--link-color); }
a:hover { color: var(--link-color); }
a:active { color: var(--link-color); }

.main {
    top: 0;
	left: 0;
	display: flex; 
	justify-content: center; 
	flex-direction: column;
	align-items: center;
    position: absolute;
	gap: 10px;
	padding: 20px;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    border: 5px solid var(--border-color);
    box-sizing: border-box;
	color: var(--primary-color);
	font-size: medium;
}

.about {
	max-width: 350px;
}

.links {
	font-size: large;
	padding-top: 15px;
	display: flex; 
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.contact { 
	gap: 10px;
	color: var(--border-color);
	font-size: large;
}

.portfolio {
	flex-grow: 1;
	min-height: 0;
	padding: 10px;
	text-align: left;
	width: 100%;
	max-width: 700px;
	display: block;
	overflow: auto;

	mask-image: linear-gradient(to bottom, 
		transparent 0%, 
		black 5%, 
		black 95%, 
		transparent 100%
	);

	-webkit-mask-image: linear-gradient(to bottom, transparent 0%, 
		black 5%, 
		black 95%, 
		transparent 100%
	);flow-y: scroll;
}

.lyd { color: #fc92f4; }

.portfolio_linker {
	position: relative: 
	left: 0; 
	top: 0; 
}
